body{
	background-color:rgb(135, 206, 235);
}
h1{
	background-color:black;
	color:white;
	height:20px;
	font-size:20px;
	margin:1px;
}
p:first-child{
	color:black;
}
p:nth-child(2,3){
	color:black;
}
p:last-child{
	color:red;
}



